// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.align-center {
  text-align: center;
}

.highlight {
  background-color: #f4f4f4;
}

.center {
  display: block;
  margin: 0 auto;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.top-radius {
  border-radius: 10% 10% 0 0;
}

.bottom-radius {
  border-radius: 0 0 10% 10%;
}

.round {
  border-radius: 50%;
}

.ion-button {
    color: aqua !important;
}

.image-center {
  align-content: center;
}

// logo home:
.logoHome {
  max-width: 40%;
  align-content: center;
  display: block;
  margin-left: 22%;
  margin-right: auto;
}

// logo menu:
.logoMenu {
  max-width: 40%;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.onboard {
    border-color: #ffffff !important;
}
.toolbar-background,
.toggle-checked {
    transition: all 1.1s ease;
    background-color: #000000 !important;
}
.item-note,
.themeButton,
.swiper-pagination-bullet {
    transition: all 1.1s ease;
    //background-color: #fff;
    //border-style: solid;
    //border-width: 1px;
    //border-color: white;
}


.card-title-md,
.card-md {
  background-color:transparent;
  color: #ffffff;
  font-weight: bold;
}

.card-md h2,
.card-md p {
  background-color:transparent;
  color: #252525;
  font-weight: bold;
}

.card-content-md {
  background-color: #f0870f;
}

.card-sobre-bg,
.card-sobre-bg p {
  background-color: #252525;
  color: #ffffff;
  //text-align: justify;
}

ion-title {
  width: 100% !important;
  position: relative;
  display: block;
  .toolbar-title-md {
    color: #ffffff;
  }
}

// cor do botão do menu:
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
  color: #ffffff;
}

ion-content,
ion-footer {
    transition: all 1.1s ease;
    background: #000000 !important;
    color: white !important;
}

// cor do texto do menu:
.item {
    transition: all 1s ease;
    background-color: #161616;
    color: #ffffff;
}

.item-md {
  padding-left: 16px;
  padding-right: 16px;
  border: 1em #f0870f;
}

.range-bar {
    background-color: rgb(0, 0, 0) !important;
}

[padding] h1:first-child, 
[padding] h2:first-child, 
[padding] h3:first-child, 
[padding] h4:first-child,
[padding] h5:first-child,
[padding] h6:first-child {
  margin-top: 0;
}

.s2,
.s3,
.toggle-inner,
.range-pin,
.range-pin::before,
.range-knob,
.range-bar-active {
    background-color: rgb(175, 175, 175) !important;
    color: black !important;
}

.back-button {
    color: white;
  }
  

.menu-background {
  .toolbar-content,
  .back-button {
    color: rgb(255, 255, 255);
  }
  .toolbar-background,
  ion-navbar,
  ion-header,
  ion-content,
  ion-list,
  ion-item,
  .item-inner,
  .item,
  ion-label,
  .input-wrapper {
    background: #1d1d1d !important;
    border-color: red;
  }

}

[icon-left] ion-icon, [icon-start] ion-icon {
  padding: 0.07em;
  margin-right: 0.5em;
}

.header-background {
  .toolbar-content,
  .back-button {
    color: white;
  }
  .toolbar-background,
  ion-navbar,
  ion-header {
    background: #000000 !important;
  }

}
